@use "./utilities/index" as *;

:root {
	--tomato: #ff6257;
	--dark-slate-grey: hsl(234, 29%, 20%);
	--charcoal-grey: hsl(235, 18%, 26%);
	--grey: hsl(231, 7%, 60%);
	--white: hsl(0, 0%, 100%);
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	font-family: "Roboto", sans-serif;
	background-color: var(--dark-slate-grey);
}

.main {
	max-height: 48.125em;
	width: 100%;
	max-width: 23.438em;
	background-color: var(--white);

	&__one {
		flex-direction: column;
		&-bottom {
			padding: 1.7em;

			&-title {
				margin-bottom: 0.7em;
			}

			&-text {
				margin: 0.8em 0;
			}

			&-info {
				margin-top: 2em;
				list-style: none;

				&-item {
					display: flex;
					margin-bottom: 1em;

					&-img {
						margin: 0 1em 1em 0em;
					}
				}
			}

			&-box {
				display: flex;
				font-size: 1.3rem;
				justify-content: space-between;
				&-label {
					font-weight: 700;
					color: var(--dark-slate-grey);
				}

				&-error {
					color: var(--tomato);
					font-style: italic;
					visibility: hidden;
				}
			}

			&-input {
				margin-top: 0.7em;
				margin-bottom: 1.3em;
				display: block;
				padding: 1em;
				@include width-border;
				border: 1px solid var(--grey);
			}

			&-btn {
				padding: 1.2em;
				@include width-border;
				background-color: var(--dark-slate-grey);
				color: var(--white);
			}
		}
	}

	&__two {
		height: 100vh;
		max-height: 48.125em;
		padding: 1.5em;
		@include flex;
		display: none;

		&-content {
			@include flex;
			flex-grow: 1;
			&-img {
				width: 17%;
			}
			&-title {
				font-size: 3.5rem;
				font-weight: 700;
				color: var(--dark-slate-grey);
			}
			&-text {
				line-height: 1.5;
				span {
					font-weight: 700;
				}
			}
		}

		.main__one-bottom-btn {
			margin-top: auto;
		}
	}
}

.red-placeholder {
	border: 1px solid #ff6257;
	background-color: rgba(255, 98, 87, 0.1);

	&::placeholder {
		color: var(--tomato);
	}
}

@media (min-width: 992px) {
	body {
		display: flex;
		justify-content: center;
	}

	.main {
		padding: 1.5em;
		max-width: fit-content;
		max-height: fit-content;
		border-radius: 1em;

		&__one {
			display: flex;
			flex-direction: row;

			picture {
				order: 1;
			}
			&-bottom {
				max-width: 30em;
				padding: 1.5em;
				padding-right: 3em;

				order: 0;
				display: flex;
				justify-content: center;
				flex-direction: column;

				&-title {
					margin-bottom: 0.1em;
					font-size: 6rem;
				}

				&-text {
					font-size: 1.7rem;
					line-height: 1.5;
				}

				&-info {
					margin-top: 0.5em;
					margin-bottom: 1.5em;
					&-item {
						margin: 0.2em;
					}
				}

				&-input,
				&-btn {
					padding: 1.3em;
				}

				&-btn {
					position: relative;
					z-index: 1;

					&::before {
						position: absolute;
						content: "";
						top: 0;
						right: 0;
						bottom: 0;
						left: 0;
						background-image: linear-gradient(35deg, rgba(255, 98, 87, 1) 25%, rgba(249, 46, 31, 1) 100%);
						z-index: -1;
						border-radius: 0.5em;
						opacity: 0;
						transition: opacity 0.2s linear;
					}

					&:hover {
						&::before {
							opacity: 1;
						}
					}
				}
			}
		}

		&__two {
			height: 100%;
			max-width: 26em;
			max-height: fit-content;
			display: flex;
			display: none;

			&-content {
				margin-bottom: 1.1em;
				&-title {
					font-size: 5.5rem;
				}
			}
		}
	}
}
